body {
  color: #fff;
  background-color: rgba(11, 11, 13, 1);
}

p {
  line-height: 2;
}

.p-2 p {
  width: 420px;
}

p,
h2,
h3 {
  margin-left: 130px;
}

h2 {
  font-family: 'Britannic', serif;
}

/* HashLink:hover {
  color: #000;
} */

.skills {
  margin-left: 6rem;
}

#home {
  background-image: url(/public/images/pexels-photo3_1880x1253.jpeg);
  background-size: 1253px 835px;
  width: 1253px;
  height: 835px;
  border-radius: 10%;
  margin-left: 100px;
}

#home h2,
h3,
p {
  text-shadow: 8px 7px 7px #000;
}

#home h2 {
  font-size: 60px;
  padding-top: 40px;
  margin: 60px 0 0 200px;
}

#home h3 {
  font-size: 40px;
  margin: 40px 0 0 200px;
  line-height: 0.125;
}

#home p {
  margin: 30px 0 0 200px;
  width: 34%;
}

.skills ul li {
  list-style-type: none;
}

#Ecommerce

.e-commerce-section {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* #ecommerce p {
  width: 250px
} */

@media screen and (min-width: 1175px) {
  .cloud-commerce-desc {
    padding-right: 100px;
    /* Adjust as needed */
  }
}

@media screen and (max-width: 768px) {
  .cloud-commerce-desc {
      padding-right: 50px; /* Further adjust for smaller screens */
  }
  .cafe-paradise-desc {
      padding-right: 50px; /* Adjust for smaller screens */
  }
}

/* Adjust heading font sizes for different screen widths */
@media screen and (max-width: 1127px) {
  h2 {
      font-size: 32px; /* Adjust font size to prevent wrapping */
  }
  h3 {
      font-size: 28px; /* Adjust font size to prevent wrapping */
  }
}

@media screen and (max-width: 768px) {
  h2 {
      font-size: 28px; /* Further adjust for smaller screens */
  }
  h3 {
      font-size: 24px; /* Further adjust for smaller screens */
  }
}