*, *::before, *::after {
  box-sizing: border-box;
}

/* Mobile nav bar responsiveness */
img, a, .navbar {
  max-width: 100%;
  height: auto;
  display: block;
}

/* a {
  color: #fff;
} */

body {
  color: #fff;
  background-color: #0b0b0d;
  margin: 0;
  padding: 0;
}

.navbar {
  width: 100%;
  background-color: #0b0b0d!important;
}

.navbar-toggler {
  margin-left: auto;
}

.navbar-collapse{
  width: 100%;
}

.container-fluid {
  padding: 0 15px; /* Adjust padding to prevent overflow */
}

p {
  line-height: 2;
}

.p-2 p {
  width: 420px;
}

p,
h2,
h3 {
  margin-left: 130px;
}

/* #home-content h2 {
  font-family: 'Britannic', serif;
} */

.skills {
  margin-left: 6rem;
}

#home-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* height: calc(165vh - 80px); */
  min-height: 100vh; /* Ensure it takes at least the full viewport height */
  padding: 20px;
  padding-top: 60px;
  background-color: rgba(11, 11, 13, 1);
}

#home {
  background-image: url(/public/images/pexels-photo3_1880x1253.jpeg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 90%;
  max-width: 1200px;
  aspect-ratio: 16 / 9;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  
  /* Code that doesn't breaks responsiveness */
  /* background-size: 1253px 835px; */
  /* width: 1253px;
  height: 835px; */
  /* margin-left: 100px; */
}

#home-content {
  text-align: left;
  color: white;
  max-width: 80%;
}

#home-content h2,
#home-content h3,
#home-content p {
  text-shadow: 8px 7px 7px #000;
}

#home-content h2 {
  font-family: 'Brittanic Bold, serif';
  font-size: 4vw; /* Use viewport width for responsive size (4% of the viewport width) */
  margin-top: 0;
}

#home-content h3 {
  font-size: 3vw; /* Use viewport width for responsive size (3% of the viewport width) */
  margin-top: 0;
}

#home-content p {
  font-size: 1.5vw; /* Use viewport width for responsive size (1.5% of the viewport width) */
  margin-top: 10px;
  max-width: 60%;
}

/* 

#home h2 {
  font-size: 60px;
  padding-top: 40px;
  margin: 60px 0 0 200px;
} */

/* #home h3 {
  font-size: 40px;
  margin: 40px 0 0 200px;
  line-height: 0.125;
} */

/* #home p {
  margin: 30px 0 0 200px;
  width: 34%;
} */

.skills ul li {
  list-style-type: none;
}

@media (max-width: 768px) {
  #home-content h2 {
    font-size: 6vw; /* Use viewport width for responsive size (6% of the viewport width) */
    margin: 10px 0;
  }

  #home-content h3 {
    font-size: 5vw; /* Use viewport width for responsive size (5% of the viewport width) */
    margin: 10px 0;
  }
  #home-content p {
    font-size: 4vw; /* Use viewport width for responsive size (4% of the viewport width) */
    margin: 10px 0;
    max-width: 90%;
  }
}

