*, *::before, *::after {
  box-sizing: border-box;
}

/* Mobile nav bar responsiveness */
a, .navbar {
  height: auto;
  display: block;
}

.banner-image {
  max-width: 100%;
  height: auto;
}

.steaming-coffee, .cafe-menu {
  max-width: 400px;
  height: auto;
  margin: 20px;
}

body {
  color: #fff;
  background-color: #0b0b0d;
  margin: 0;
  padding: 0;
}

.navbar {
  width: 100%;
  background-color: #0b0b0d!important;
}

.navbar-toggler {
  margin-left: auto;
}

.navbar-collapse{
  width: 100%;
  justify-content: right;
}

.container-fluid {
  padding: 0 15px; /* Adjust padding to prevent overflow */
}

.custom-nav-dropdown .dropdown-menu {
  background-color: black !important;
  border: none !important;
  width: auto;
  white-space: normal;
}

.custom-nav-dropdown .dropdown-item {
  color: white !important;
  white-space: normal;
  overflow-wrap: break-word;
  word-break: break-word;
}

p {
  line-height: 2;
}

.p-2 p {
  width: 420px;
}

p,
h2,
h3 {
  margin-left: 130px;
}

/* #home-content h2 {
  font-family: 'Britannic', serif;
} */

.skills {
  margin-left: 6rem;
}

#home-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh; /* Ensure it takes at least the full viewport height */
  padding: 20px;
  padding-top: 60px;
  background-color: rgba(11, 11, 13, 1);
}

#home {
  background-image: url(/public/images/pexels-photo3_1880x1253.jpeg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 90%;
  max-width: 1200px;
  aspect-ratio: 16 / 9;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#home-content {
  text-align: left;
  color: white;
  max-width: 80%;
}

#home-content h2,
#home-content h3,
#home-content p {
  text-shadow: 8px 7px 7px #000;
}

#home-content h2 {
  font-family: 'Brittanic Bold, serif';
  font-size: 4vw; /* Use viewport width for responsive size (4% of the viewport width) */
  margin-top: 0;
}

#home-content h3 {
  font-size: 3vw; /* Use viewport width for responsive size (3% of the viewport width) */
  margin-top: 0;
}

#home-content p {
  font-size: 1.5vw; /* Use viewport width for responsive size (1.5% of the viewport width) */
  margin-top: 10px;
  max-width: 60%;
}

@media (max-width: 768px) {
  #home-content h2 {
    font-size: 6vw; /* Use viewport width for responsive size (6% of the viewport width) */
    margin: 10px 0;
  }

  #home-content h3 {
    font-size: 5vw; /* Use viewport width for responsive size (5% of the viewport width) */
    margin: 10px 0;
  }
  #home-content p {
    font-size: 4vw; /* Use viewport width for responsive size (4% of the viewport width) */
    margin: 10px 0;
    max-width: 90%;
  }
}

@media (max-width: 991px) {
  .navbar-collapse {
    justify-content: flex-start;
  }

  .navbar-nav {
    width: 100%;
  }

  .navbar-nav .nav-item {
    float: none;
    display: block;
    text-align: left;
  }
}